@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(18, 19, 49, 1);
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.loading {
  color: rgba(216, 234, 255, 1);
  width: 100%;
  display: flex;
  justify-content: center;
}

.error {
  color: rgba(216, 234, 255, 1);
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  #root {
    width: 75%;
  }
}

@media (max-width: 900px) {
  #root {
    width: 100%;
  }
}